.common-list {
		padding: 20rpx;

		.common-list-left {
			flex-shrink: 0;

			image {
				width: 90rpx;
				height: 90rpx;
				border-radius: 100%;
			}
		}

		.common-list-right {
			flex: 1;
			margin-left: 15rpx;
			padding-bottom: 10rpx;
			border-bottom: 1rpx solid #EEEEEE;

			.image-wrapper {
				position: relative;
				margin-bottom: 10rpx;

				.common-list-play,
				.common-list-playinfo {
					position: absolute;
					color: #FFFFFF;
				}

				.common-list-play {
					font-size: 130rpx;
				}

				.common-list-playinfo {
					right: 10rpx;
					bottom: 10rpx;
					padding: 0 20rpx;
					background: rgba(51, 51, 51, .73);
					border-radius: 20rpx;
					font-size: 26rpx;
				}

				image {
					width: 100%;
					border-radius: 10rpx;
				}

				.common-list-share {
					width: 100%;
					padding: 10rpx;
					border-radius: 10rpx;
					background: #EEEEEE;

					image {
						width: 200rpx;
						height: 150rpx;
						margin-right: 10rpx;
					}
				}
			}

			.username {
				color: #999999;
				font-size: 32rpx;
			}			

			.gaungzhu {
				background: #EEEEEE;
				padding: 0 10rpx;
				font-size: 26rpx;
			}

			.title {
				font-size: 30rpx;
				padding: 12rpx 0;
			}

			&>view:last-child {
				color: #AAAAAA;

				&>view:last-child {
					view {
						margin-left: 10rpx;
						font-size: 28rpx;

						text {
							margin-left: 5rpx;
						}

					}
				}
			}
		}
	}